.year-page {
  width: 100vw;
  min-height: 100vh;
  background: var(--fondo);
  font-family: 'Aileron', sans-serif;
  padding: 40px;
  box-sizing: border-box;
}

.year-layout {
  display: grid;
  grid-template-columns: 1.2fr 1.8fr;
  gap: 40px;
}

.year-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 3%;
}

.slider-container {
  display: flex;
  flex-direction: column;
}

.slider-container label {
  font-family: 'TT Fors', sans-serif;
  font-size: 3.4rem;
  color: var(--Azul);
}

.slider-container .anio {
  font-family: 'Spectral', serif;
  font-style: italic;
  font-size: 3.4rem;
}

.slider-bg {
  background: var(--celeste);      
  border-radius: 30px;             
  padding: 15px 0;                 
  display: flex;
  align-items: center;

}

.slider-bg input[type="range"] {
-webkit-appearance: none;
  width: 100%;                    
  background: var(--blanco);       
  height: 12px;                   
  border-radius: 2px;              
  outline: none;
}

.slider-bg input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: var(--amarillo);

  cursor: pointer;
}

.slider-bg input[type="range"]::-moz-range-thumb {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: var(--amarillo);
  cursor: pointer;
}

.texto-left {
  font-family: 'Aileron', sans-serif;
  font-size: 1rem;
  line-height: 1;
  color: var(--Letras);
  text-align: justify;
  margin-top: -3%;
  margin-left: 0.5%;
}

.year-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top:6%;
  margin-right: 3%;
}

.texto-right {
  font-family: 'Aileron', sans-serif;
  font-size: 1rem;
  line-height: 1.09;
  color: var(--Letras);
  text-align: justify;
}

.area-chart-container {
  height: 200px;      
  width: 50%;         
  margin-top: 100px;    
}

.charts-row {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.bar-chart-container {
  margin-top: 21px;
  flex: 1;
  min-width: 450px;
  height: 450px;
}


.texto-right-burnout {
  width: 100%;
  font-family: 'Aileron', sans-serif;
  font-size: 0.9rem;
  line-height: 1.1;
  color: var(--Letras);
  text-align: justify;

}

.texto-imagen-container {
  display: flex;
  align-items: flex-start; 
  gap: 5px; 
}

.texto-burnout {
  flex: 1;
}

.imagen-burnout img {
  margin-top: 10px;
  width: 150px; 
  height: auto;
}

ul.burnout-list {
  list-style: none;
  padding-left: 0;
}

ul.burnout-list li {
  position: relative;
  padding-left: 25px;
  margin-bottom: 10px;
}

ul.burnout-list li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  background-color: #2273f3; 
  border-radius: 50%;
}

ul.burnout-list {
  list-style: none;
  padding-left: 0;
}

ul.burnout-list li {
  position: relative;
  padding-left: 25px;
  margin-bottom: 10px;
}

ul.burnout-list li:nth-child(1)::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  background-color: var(--celeste);
  border-radius: 50%;
}

ul.burnout-list li:nth-child(2)::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  background-color: var(--amarillo); 
  border-radius: 50%;
}

ul.burnout-list li:nth-child(3)::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  background-color: var(--Azul); 
  border-radius: 50%;
}
.periodo-charts {
  display: flex;
  gap: 20px;   
  justify-content: space-between;
  flex-wrap: wrap; 
}

.periodo-charts > div {
  flex: 1;
  min-width: 300px; 
  height: 450px; 
}
