@import url('./src/Fuentes/Fuentes.css');

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: var(--fondo);
  scroll-behavior: smooth;
}

:root {
  --Letras: #393636;
  --fondo: #fff8ed;
  --blanco: #ffffff;
  --Azul: #2273f3;
  --celeste: #79c0dc;
  --celesteclaro: #baefff;
  --cian: #6ce5e8;
  --otroazul: #65a6fa;
  --amarillo: #f7d25d;
  --muyamarillo: #fffd59;
  --naranja: #ff8d66;
}

.App {
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.fullpage-section {
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;    
  box-sizing: border-box;
}
